@{
    Layout = "_Layout";
}
<div id="gameplay_container" class="container mh-100">
  <div class="row mh-100">
    <div class="col-sm-8">
      <div id="game_board" class="w-100" style="background-color: #eee;">
        
      </div>
    </div>
    <div id="png_container" class="mh-100 col-sm-4" style="overflow: scroll;">
      Moves
    </div>
  </div>
</div>

@section Scripts
{
    <script src="@Url.Content("~/js/chess/chess.js")"></script>
    <script src="@Url.Content("~/js/chessboard-1.0.0.js")"></script>
    <script>
        // NOTE: this example uses the chess.js library:
        // https://github.com/jhlywa/chess.js

        let board = null
        let game = new Chess()

        function onMoveEnd (oldPos, newPos) {
            $('#png_container').html(game.pgn({ max_width: 5, newline_char: '<br />' }))
        }


        function makeRandomMove () {
            var possibleMoves = game.moves()

            // exit if the game is over
            if (game.game_over()) return

            var randomIdx = Math.floor(Math.random() * possibleMoves.length)
            game.move(possibleMoves[randomIdx])
            board.position(game.fen())
                window.setTimeout(makeRandomMove, 500)
        }

        var config = {
            position: 'start',
            onMoveEnd: onMoveEnd
        }

        board = Chessboard('game_board', config)

        window.setTimeout(makeRandomMove, 500)
        $(window).resize(function() {
          board.resize();
          $('#png_container').height($('#game_board').height());
        })

    </script>
}